<div class='row'>
    <div class='privacy-point'>
      <div class='row'>
        <div class='col-1'>
          <div class='lyftr-checkbox'>
            <input type='checkbox' name='<%- key %>'>
          </div>
        </div>
        <div class='col'>
          <h3><%- privacyPoint.title %></h3>
          <p><%- privacyPoint.content %></p>
        </div>
      </div>
    </div>
  </div>