<div class="container-fluid lyftr-container">
    <div class="row main">
      <div class='col-sm-12 lyftr-contain-within'>
        <div class="row">
          <div class="col-sm-12 centered">
            <h2>Lyftr<br>
              <small>Privacy Policy</small>
            </h2>
          </div>
        </div>
        <div class="row centered lyftr-contain">
          <div class="col-sm-12 lyftr-wrap">
            <h3>Take some time to review the privacy policy.<br>
              <small>
                Click the checkbox to each item so we know you read it!
              </small>
            </h3>
            <div class='row'>
              <div class='privacy-points'>
                <% for(let privacyPointKey in privacyPoints) { %>
                <% let privacyPoint = privacyPoints[privacyPointKey]; %>
                <%- partial('./policyPoint', {key: privacyPointKey, privacyPoint: privacyPoint}) %>
                <% } %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class='centered col-sm-12'>
        <button type="button" class="big-btn">NEXT</button>
      </div>
    </div>
  </div>
  