<div class="container-fluid lyftr-container">
  <div class="row centered main">
    <div class='lyftr-wrap col-sm-12'>
      <div class="row">
        <div class="col-sm-12 centered">
          <h1>Lyftr</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 centered">
          <p>Thank you for participating!<br>Together we can have a fun ride!</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 centered">
          <button type="button" class="big-btn">LARGE BUTTON</button>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 centered">
          <button type="button" class="big-link">NO THANK YOU, I'M FINE</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row privacy-row">
    <div class='privacy col-sm-12'>
      You have a right to privacy
    </div>
  </div>
</div>
