@import "bootstrap/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i|Work+Sans:100,200,300,400,500,600,700,800,900');

@mixin workSans(){
  font-family: 'Work Sans', sans-serif;
}

@mixin rubik(){
  font-family: 'Rubik', sans-serif;
}

// palette
$text-dark: #1a1e27;
$text-lighter: #4a5573;
$light-gray: #e5e8f1;
$red: #f06;
$blue: #5b89dc;

body {
  color: $text-dark;
  font-size: 2rem;
  font-weight: 700;
  @include workSans();
  background-color: lighten($light-gray, 6%);
}

.big-btn {
  @extend .btn;
  min-width: 30rem;
  border-radius: 200em;
  background-color: $blue;
  color: #fff;
  @include workSans();
  font-weight: 700;
  padding: 1.125rem 4.5rem;
  font-size: 2rem;
  -webkit-box-shadow: 0px 25px 65px 0px rgba($blue,0.41);
  -moz-box-shadow: 0px 25px 65px 0px rgba($blue,0.41);
  box-shadow: 0px 25px 65px 0px rgba($blue,0.41);
  &:focus, &:hover {
    outline: none;
    -webkit-box-shadow: 0px 0px 65px 0px rgba($blue,0.41);
    -moz-box-shadow: 0px 0px 65px 0px rgba($blue,0.41);
    box-shadow: 0px 0px 65px 0px rgba($blue,0.41);
  }
  margin-bottom: 2rem;
}

.big-link {
  @extend .btn;
  border-radius: 200em;
  color: $text-lighter;
  background-color: transparent;
  @include workSans();
  font-weight: 700;
  padding: 1.125rem 4.5rem;
  font-size: 1.5rem;
  &:focus, &:hover {
    outline: none;
  }
  margin-bottom: 2rem;
}

.lyftr-container {
  @extend .container-fluid;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

h1 {
  font-size: 10rem;
  font-weight: 700;
  @include rubik();
  color: $red;
}

h2 {
  font-size: 4rem;
  font-weight: 700;
  @include rubik();
  color: $red;
  line-height: 2.5rem;
  margin-top:2rem;
  margin-bottom: 2rem;
  small {
    font-size: 2.5rem;
    font-weight: 700;
    @include rubik();
    color: darken($light-gray, 40%);
  }
}

h3 {
  font-size: 3rem;
  font-weight: 700;
  color: $blue;
  line-height: 2.5rem;
  small {
    font-size: 2.5rem;
    font-weight: 700;
    color: lighten($blue, 20%);
  }
  text-align: left;
}

.main {
  flex: 1;
  justify-content: center;
}

.lyftr-wrap {
  max-width: 800px;
}

.privacy {
  background-color: darken($light-gray, 10%);
  text-align: center;
  padding: 2em;
  color: $text-lighter;
}

.privacy-points {
  @extend .col;
  margin-top: 1em;
  font-size: 1.5rem;
}

.privacy-point {
  @extend .col;
  text-align: left;
  h3 {
    color: $text-lighter;
  }
  color: darken($light-gray, 10%);
  margin-bottom: 1em;
}

.lyftr-checkbox {
  width: 45px;
  height:45px;
  border-radius: 10px;
  background-color: $light-gray;
  input {
    width: 0px;
    height: 0px;
  }
}

.lyftr-contain {
  height: 100%;
  overflow: auto;
  flex: 1;
  padding-top: 15em;
  margin-bottom: 1em;
}

.lyftr-contain-within {
  display: flex;
  flex-direction: column;
}